<% layout("/layouts/boilerplate") -%>
 <%=success%>

 <style>
  #filters{
    display: flex;
   flex-wrap: wrap; 
     gap: 20px;
    align-items: center;
  }
  
  .filter {
    text-align: center;
    margin-left: 1rem;
    margin-top: 1rem;
    opacity: 0.7;
  }

  .filter:hover {
    overflow: 1;
    cursor: pointer;
  }
  
  .filter i {
    color: inherit; /* Reset icon color */
     font-size: 1rem; 
  }
  .tax-info {
    display: none;
  }
.text-toggle{
  border: 1px solid black;
  border-radius: 1rem;
  height: 3rem;
  padding: 1rem;
  margin-left: 11rem;
  display: flex;
  align-items: center;
}

 </style>
 <div id="filters" class="d-none d-md-flex">
    <div class="filter">
      <div><i class="fa-solid fa-fire d-none d-md-block"></i></div>
      <p>Trending</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-bed d-none d-md-block"></i></div>
      <p>Rooms</p>
    </div>

     <div class="filter">
      <div><i class="fa-solid fa-mountain-city d-none d-md-block"></i></div>
      <p>Iconic Cities</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-mountain-sun d-none d-md-block"></i></div>
      <p>mountains</p>
    </div>

     <div class="filter">
      <div><i class="fa-solid fa-chess-rook d-none d-md-block"></i></div>
      <p>castles</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-newspaper d-none d-md-block"></i></div>
      <p>Arctic</p>
    </div>
     <div class="filter">
      <div><i class="fa-solid fa-campground d-none d-md-block"></i></div>
      <p>camping</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-cow d-none d-md-block"></i></div>
      <p>Farms</p>
    </div>
     <div class="filter">
      <div><i class="fa-solid fa-igloo d-none d-md-block"></i></div>
      <p>Domes</p>
    </div>
    <div class="text-toggle">
      <div class="form-check form-switch  form-check-reverse">
  <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
  <label class="form-check-label" for="switchCheckDefault">Displaytotal after taxes</label>
</div>
    </div>
   </div>
   
   <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for (let listing of allListings) { %>
     <a href="/listings/<%= listing._id %>" class="listing-link">
      <div class="card col ">
      <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_image" style="height: 20rem;">
        <div class="card-img-overlay"></div>
      <div class="card-body">
       <p class="card-text">
      <b><%= listing.title %>:</b>
      <br/>
      <span> &#8377;</span> <%= Number(listing.price).toLocaleString("en-IN") %>/night
     <i class="tax-info">&nbsp;&nbsp;+18% GST</i>
       </p>
      </div>
       </div>
     </a>
         <% } %>
   </div>
       


<script>
  let taxSwitch = document.getElementById("switchCheckDefault");
  taxSwitch.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName("tax-info");
    for (let info of taxInfo) {
      if (info.style.display !== "inline") {
        info.style.display = "inline";
      } else {
        info.style.display = "none";
      }
    }
  });
</script>

